[submodule "cspot/nanopb"]
	path = cspot/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "cspot/tremor"]
	path = cspot/tremor
	url = https://gitlab.xiph.org/xiph/tremor.git
	branch = lowmem
[submodule "cspot/cJSON"]
	path = cspot/cJSON
	url = https://github.com/DaveGamble/cJSON.git