name: ESP IDF
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        
    - name: Build the firmware
      run: |
        docker run --rm -v $PWD:/project --env IDF_CCACHE_ENABLE=0 -w /project espressif/idf:release-v4.4 /bin/bash -c "python3 -m pip install --upgrade pip setuptools wheel && \
          pip3 install grpcio-tools && cd targets/esp32 && idf.py build"
        ls -la targets/esp32/build
